<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Spoofing Application</title>
</head>
<body>
    <h1>Flask API and Camera Example</h1>
    <video autoplay></video>
    <script>
      const videoElement = document.querySelector('video');

      navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
          videoElement.srcObject = stream;
        });
    </script>
  </body>
</html>